<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>TunniLines</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>org.simon-cozens.TunniLines</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TunniLines</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>UpdateFeedURL</key>
	<string></string>
	<key>productPageURL</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, by Simon Cozens, 2015</string>
	<key>NSPrincipalClass</key>
	<string>TunniLines</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
